<div style="overflow:auto">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-height"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 title-height">Current eMails</div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 title-height" style="padding-left: 4px">New eMails</div>
  </div>
  <!-- Equal emails -->
  <div class="col-lg-12 row-styles" *ngFor="let email of equalEmails; let idx = index;" [class.table-decoration]="idx == 0">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 body-height subtitle"><i class="far fa-envelope" aria-hidden="true"></i></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 body-height">{{email.current}}</div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 body-height" [class.different-field]="email.current != email.newest">{{email.newest}}</div>
  </div>

  <!-- Added emails -->
  <div class="col-lg-12 row-styles" *ngFor="let email of newEmails; let idx = index;" [class.table-decoration]="equalEmails.length == 0 && idx == 0">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 body-height subtitle"><i class="far fa-envelope" aria-hidden="true"></i></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 body-height" style="color: #18a689; font-style: italic; font-weight: bold">New email</div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 body-height different-field">{{email}}</div>
  </div>

  <!-- Deleted emails -->
  <div class="col-lg-12 row-styles" *ngFor="let email of obsoleteEmails; let idx = index;"
       [class.table-decoration]="equalEmails.length == 0 && newEmails.length == 0 && idx == 0"
  >
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 body-height subtitle"><i class="far fa-envelope" aria-hidden="true"></i></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 body-height">{{email}}</div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 body-height text-danger" style="font-style: italic; font-weight: bold">Deleted</div>
  </div>

  <div class="col-lg-12 row-styles">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 body-height subtitle">Note <i class="fa fa-sticky-note-o" aria-hidden="true"></i></div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <span>{{customer?.lastEmailVerification.note}}</span>
    </div>
  </div>
  <div class="col-lg-12 row-styles">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 body-height subtitle">Date <i class="fa fa-calendar" aria-hidden="true"></i></div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 body-height">
      <span>{{customer?.lastEmailVerification.createdDate | coinDateTransform}}</span>
    </div>
  </div>
</div>
