<div class="row">
  <div [class.col-lg-8]="isNotesBoxOpen()" [class.col-lg-10]="!isNotesBoxOpen()">
    <div class="ibox" *ngIf="processCase">
      <div class="ibox-title">
        <h5 *ngIf="!currentProcessCase">Case</h5>
        <h5 *ngIf="currentProcessCase">Case: <span *ngIf="currentProcessCase?.id" class="text-success">{{currentProcessCase?.id}}</span>
        </h5>
      </div>
      <!--manage cases detail-->
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12">
            <tickler-cases-detail
              [currentAgentCreatedBy]="currentAgentCreatedBy"
              [currentAgent]="currentAgent"
              [process]="filterProcesses"
              [searchingAccountInfo]="searchingAccountInfo"
              [searchingUsers]="searchingUsers"
              [searchingAccountAdditionalInfo]="searchingAccountAdditionalInfo"
              [searchingAccountLoanInfo]="searchingAccountLoanInfo"
              [currentProcessCase]="currentProcessCase"
              [searchingProcessCase]="searchingProcessCase"
              [searchingProcesses]="searchingProcesses"
              [account]="account">
            </tickler-cases-detail>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [class.col-lg-4]="isNotesBoxOpen()" [class.col-lg-2]="!isNotesBoxOpen()">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Call Notes
          <tab-counter [data]="account?.customer?.callRecords" [searching]="searchingCalls"></tab-counter>
        </h5>
        <iboxtools #notes [startClosed]="false"></iboxtools>
      </div>
      <div class="ibox-content">
        <div id="ct" class="row">
          <div class="col-lg-12">
            <customer-call-records
              [searching]="searchingCalls"
              [records]="account?.customer?.callRecords">
            </customer-call-records>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" *ngIf="currentProcessCase">
    <div class="ibox">
      <div class="ibox-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Ticklers</h5>
        <!--new button-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
          <button class="btn btn-sm btn-primary" [disabled]="isCreating || currentProcessCase.statusCode == 'CLOSED'"
                  (click)="onNewTickler()">
            <i class="fa fa-file-o"></i> New
          </button>
        </div>
      </div>
      <!--process case tickler-->
      <div class="ibox-content overflowTable">
        <div class="row">
          <div class="col-lg-12">
            <process-case-tickler-table
              [isCreating]="isCreating"
              [ticklerTypes]="ticklerTypes"
              [currentProcessCase]="currentProcessCase"
              [processCaseTicklers]="processCaseTicklers"
              [searchingCaseTicklers]="searchingCaseTicklers"
              (onCancel)="onCancel()"
              (onAddTicklerCase)="refreshCaseTicklers()">
            </process-case-tickler-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
