<!--<div class="paginator col-sm-4 m-b-xs">-->
<div class="paginator" [ngClass]="{'col-sm-4 m-b-xs': !hasNewSize, 'inline': hasNewSize}">
  <button class="btn btn-sm btn-primary" [disabled]="!data || pagination.currPage == 0 || disabled"
          (click)="incPage(-1)">Prev
  </button>
  <label *ngIf="data" class="control-label" style="margin-left:5px;margin-right:5px;">{{pagination.currPage
    + 1}}</label>
  <label *ngIf="!data" class="control-label" style="margin-left:5px;margin-right:5px;">-</label>
  <button class="btn btn-sm btn-primary"
          [disabled]="!data|| data.length < pagination.pageSize || disabled"
          (click)="incPage()">Next
  </button>
</div>
