<div class="row">
  <div class="header text-right">
    <label class="modal-title title text-danger" *ngIf="customer?.needsPhoneVerification() && customer?.lastPhoneVerification">
      Last verification: {{customer?.lastPhoneVerification.createdDate | coinDateTransform}}. New verification needed.
    </label>
    <label class="modal-title title text-danger" *ngIf="customer?.needsPhoneVerification() && !customer?.lastPhoneVerification">
      Not verified.
    </label>
    <label class="modal-title title orange" *ngIf="isValidationOrigin()">
      Customer phones modifications have been applied and need a verification.
    </label>
    <label class="modal-title title orange" *ngIf="isDiscardOrigin()">
      Modification in progress.
    </label>
    <label class="modal-title title text-info" *ngIf="customer?.hasValidPhoneVerification()">
      Last verification: {{customer?.lastPhoneVerification.createdDate | coinDateTransform}}.
    </label>
  </div>
</div>
<div class="row">
  <div class="modal-body">
    <label class="text-danger" *ngIf="!customerHasPhones()" style="padding-bottom: 10px;">
      Customer does not have phones, but must have at least one.
    </label>
    <!-- Modal when customer phone needs verification and fields can be modified -->
    <div class="form-group data-container" *ngIf="customer?.needsPhoneVerification() || customer?.hasValidPhoneVerification() || customer?.phoneIsUnderCreation()">
      <div class="col-lg-12 no-padding" *ngFor="let phone of customerPhones; let ind = index;" [class.row-format]="ind % 2 == 0">
        <!-- Existing phone that can be modifyed -->
        <div *ngIf="phone && !isNewPhone(ind)">
          <div class="col-lg-12 no-padding row-container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 phone-type">
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <label style="white-space: normal">{{ customer?.phones[ind].type }}</label>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 line-type text-right">
                <i *ngIf="phone.lineType != 'P'" class="fa fa-mobile-phone" title="Cellular"></i>
                <i *ngIf="phone.lineType == 'P'" class="fa fa-phone" title="Landline"></i>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 phone-type" *ngIf="phone && !phone.isDeleted">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <select class="form-control" [(ngModel)]="phone.type">
                  <option *ngFor="let key of phoneTypes" value="{{pTypes[key]}}">{{ pTypes[key] }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-12 no-padding row-container number">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 5px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-right"><label>{{customer?.phones[ind] | telephoneNumber }}</label></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 phone-type">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-right" *ngIf="phone && !phone.isDeleted">
                <input type="text" [(ngModel)]="phone.number" placeholder="Phone" class="form-control"
                       [class.wrong-phone]="!regExpPhone.test(phone.number) || areEqualPhones(phone.number, ind) || isEmptyPhone(phone.number)">
                <div *ngIf="isEmptyPhone(phone.number)" class="help-block m-b-none font-normal" style="color: #a94442">
                  Phone can't be empty.
                </div>
                <div *ngIf="!isEmptyPhone(phone.number) && !regExpPhone.test(phone.number)"
                     class="help-block m-b-none font-normal" style="color: #a94442">
                  Not a valid format.
                </div>
                <div *ngIf="!isEmptyPhone(phone.number) && regExpPhone.test(phone.number) && areEqualPhones(phone.number, ind)"
                     class="help-block m-b-none font-normal" style="color: #a94442">
                  Phone repeated.
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-right text-center" *ngIf="!phone || phone.isDeleted">
                <label class="text-danger" style="font-style: italic">Phone deleted</label>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="display: flex">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding-left">
                <i *ngIf="phone && isPhoneDirty(ind) && !phone.isDeleted" class="fa fa-undo text-danger option-icons" aria-hidden="true" (click)="restorePhone(ind)"></i>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <i *ngIf="phone && !phone.isDeleted" class="fas fa-trash-alt option-icons" aria-hidden="true" (click)="phone.deletePhone()"></i>
                <i *ngIf="phone && phone.isDeleted" class="fa fa-undo text-danger option-icons" aria-hidden="true" (click)="restorePhone(ind)"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- New phone -->
        <div *ngIf="phone && isNewPhone(ind)">
          <div class="col-lg-12 no-padding row-container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 phone-type"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 phone-type" *ngIf="phone && !phone.isDeleted">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <select class="form-control" [(ngModel)]="phone.type">
                  <option *ngFor="let key of phoneTypes" value="{{pTypes[key]}}">{{ pTypes[key] }}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding phone-type">
                <tick-cross class="pointer-cursor" [value]="phone.lineType === 'P'" (click)="toggleLineType(phone)"></tick-cross>
                <label class="font-normal" style="margin: 0 5px">Landline</label>
              </div>
            </div>
          </div>
          <div class="col-lg-12 no-padding row-container number">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 5px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-right" style="margin-top: -35px;">
                <label><span class="new-phone-txt">New phone</span></label>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 phone-type">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-right">
                <input type="text" [(ngModel)]="phone.number" placeholder="Phone" class="form-control"
                       [class.wrong-phone]="!regExpPhone.test(phone.number) || areEqualPhones(phone.number, ind) || isEmptyPhone(phone.number)">
                <div *ngIf="isEmptyPhone(phone.number)" class="help-block m-b-none font-normal" style="color: #a94442">
                  Phone can't be empty.
                </div>
                <div *ngIf="!isEmptyPhone(phone.number) && !regExpPhone.test(phone.number)"
                     class="help-block m-b-none font-normal" style="color: #a94442">
                  Not a valid format.
                </div>
                <div *ngIf="!isEmptyPhone(phone.number) && regExpPhone.test(phone.number) && areEqualPhones(phone.number, ind)"
                     class="help-block m-b-none font-normal" style="color: #a94442">
                  Phone repeated.
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="display: flex">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding-left"></div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <i class="fas fa-trash-alt option-icons" aria-hidden="true" (click)="removeNewPhone(ind)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- New phone -->
      <div class="col-lg-12 no-padding row-container" style="height: auto">
        <button class="new-field" [disabled]="isNewDisabled()" (click)="addNewPhoneField()">Add phone</button>
      </div>

      <!--Notes-->
      <div class="col-lg-12 no-padding row-container" style="height: auto">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right"><label>Note <i class="fa fa-sticky-note-o" aria-hidden="true"></i> :</label></div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="padding-right: 0">
          <textarea
            [(ngModel)]="verifiedPhone.note"
            class="form-control notes-form no-resize"
            placeholder="Add note"
            rows="3"
            maxlength="250">
        </textarea>
        </div>
      </div>
    </div>

    <div class="form-group data-container" *ngIf="isComparisonModal()">
      <customer-phone-detail [customer]="customer"></customer-phone-detail>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="pull-left btn btn-primary"
            *ngIf="customer?.needsPhoneVerification() && !customer?.phoneIsUnderCreation()"
            [disabled]="arePhonesDirty() || isDisabled() || !arePhonesInCorrectFormat() || areEqualPhones()"
            (click)="verifyJHPhone()">
      Phones are correct
      <waiting-backend *ngIf="waitingVerifyResponse"></waiting-backend>
    </button>
    <button type="button" class="pull-left btn btn-warning"
            *ngIf="customer?.needsPhoneVerification() || customer?.hasValidPhoneVerification() || customer?.phoneIsUnderCreation()"
            [disabled]="!arePhonesDirty() || isDisabled() || !arePhonesInCorrectFormat() || !customerHasPhones() || areEqualPhones()"
            (click)="changeCustomerPhone()">
      Change phones
      <waiting-backend *ngIf="waitingChangeResponse"></waiting-backend>
    </button>
    <button type="button" class="pull-left btn btn-primary"
            *ngIf="isValidationOrigin()"
            [disabled]="isDisabled()"
            (click)="verifyJHPhone()">
      JH phones are correct
      <waiting-backend *ngIf="waitingVerifyResponse"></waiting-backend>
    </button>
    <button type="button" class="pull-left btn btn-danger"
            *ngIf="isDiscardOrigin()"
            [disabled]="isDisabled()"
            (click)="openConfirmationModal()">
      Discard modification
      <waiting-backend *ngIf="waitingDiscardResponse"></waiting-backend>
    </button>
  </div>

  <confirmation-modal
    #confirmationModal
    title="Discard phone modification"
    confirmationText="Are you sure you want to discard the phone modification?"
    buttonText="Discard"
    (buttonFunction)="discardModification()"
  ></confirmation-modal>
</div>
