.col-padding{
  padding: 30px 60px !important;
}


.white{
  background-color: white;
}


.pointer{
  cursor: pointer;
}

.blue, .blue:focus, .blue:hover{
  background-color:#1c84c6;
  color: white;
}

.trash:hover{
  color: black;
}


.box-padding{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 10pt;
}



