<div>
  <ngb-tabset>
    <!--Tab 1-->
    <ngb-tab id="newGraphic">
      <ng-template ngbTabTitle><span [popover]="popBasic" triggers="">Graphic</span></ng-template>
      <ng-template ngbTabContent>
        <p></p>
        <div>
          <!-- Incoming calls Graphic-->
          <incoming-calls-new-graphic
            [visibleTable]="visibleTable"
            [searchingData]="searchingData"
            [incomingCalls]="incomingCalls">
          </incoming-calls-new-graphic>
        </div>
      </ng-template>
    </ngb-tab>

    <!--Tab 2-->
    <ngb-tab id="callsPerHourTable">
      <ng-template ngbTabTitle><span [popover]="popBasic" triggers="">Table</span></ng-template>
      <ng-template ngbTabContent>
        <p></p>
        <div>
          <!-- Incoming calls table-->
          <incoming-calls-table
            [visibleTable]="visibleTable"
            [searchingData]="searchingData"
            [incomingCalls]="incomingCalls">
          </incoming-calls-table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


