<div *ngIf="records && !searching">
  <div class='table-responsive stripped-table'>
    <table class='table'>
      <thead>
      <tr>
        <th>Collector</th>
        <th class="right">Total calls</th>
        <th class="right">Avg. calls per Hour</th>
        <th class="right">Contact</th>
        <th class="right">Promises</th>
        <th class="right">Payment rcvd.</th>
        <th class="right">Incoming calls</th>
        <th class="right">Contact %</th>
        <th class="right">Promise to contact %</th>
        <th class="right">Outbound</th>
        <th class="right">H. worked</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pr of records">
        <td>{{pr.userCode}}</td>
        <td class="right">{{pr.totalCalls}}</td>
        <td class="right">
          <span
            [class.text-success-back]="isEnhaced(pr, 1)"
            [class.text-success]="isEnhaced(pr, 2)"
            [class.text-success-normal]="isEnhaced(pr, 3)"
            [class.text-danger-back]="isEnhaced(pr, -1)"
            [class.text-danger]="isEnhaced(pr, -2)"
            [class.text-danger-normal]="isEnhaced(pr, -3)"
          >
            {{pr.averageCallsPerHour | coinFixedNumber}}
          </span>
        </td>
        <td class="right">{{pr.contact}}</td>
        <td class="right">{{pr.promises}}</td>
        <td class="right">{{pr.paymentReceived}}</td>
        <td class="right">{{pr.incomingCalls}}</td>
        <td class="right">{{pr.contactPercentage | coinPercentage}}</td>
        <td class="right">{{pr.promiseToContactPercentage | coinPercentage}}</td>
        <td class="right">{{pr.outboundCalls}}</td>
        <td class="right">{{pr.hoursWorked}}</td>
      </tr>
      <tr>
        <th>Average</th>
        <th class="right">{{average(avgTotalCalls) | coinFixedNumber}}</th>
        <th class="right">{{average(avgAverageCallsPerHour) | coinFixedNumber}}</th>
        <th class="right">{{average(avgContact) | coinFixedNumber}}</th>
        <th class="right">{{average(avgPromises) | coinFixedNumber}}</th>
        <th class="right">{{average(abgPaymentReceived) | coinFixedNumber}}</th>
        <th class="right">{{average(avgIncomingCalls) | coinFixedNumber}}</th>
        <th class="right">{{average(avgContactPercentage) | coinPercentage}}</th>
        <th class="right">{{average(avgPromiseToContactPercentage) | coinPercentage}}</th>
        <th class="right">{{average(avgOutbound) | coinFixedNumber}}</th>
        <!--<th class="right">{{average(avgHoursWorked) | coinFixedNumber}}</th>-->
        <th class="right"></th>
      </tr>
      </tbody>
    </table>
    <!--download PDF button-->
    <div style="width: 100%; display: block" class="text-center">
      <button type="button" class="btn btn-sm btn-primary text-center" (click)="download()">Download PDF</button>
    </div>

  </div>
</div>
<div *ngIf="!records && !searching">Select a date range and press "View report"</div>
<div *ngIf="searching"><waiting-backend></waiting-backend> Retrieving report data...</div>
