<div *ngIf="agent">
  <div class='table-responsive'>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th style="width:10%;"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of roles">
        <td class="centered">
          <span *ngIf="agent.hasRole(r) === null">?</span>
          <span *ngIf="hasPendingOperation(r)"><waiting-backend></waiting-backend></span>
          <a *ngIf="!hasPendingOperation(r)" (click)="toggleRole(r)">
            <tick-cross [value]="agent.hasRole(r)"></tick-cross>
          </a>
        </td>
        <td>{{r.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
