.row-container {
  display: flex;
  align-items: center;
  margin: 10px 5px 5px 0;
  height: 34px;
}

.header {
  margin: 0 30px;
  padding-left: 0;
}

.title {
  padding-top: 10px;
}

.data-container {
  overflow: hidden;
}

.equal-text {
  padding: 5px 0 0 0;
}

.equal-text.equal {
  color: #18a689;
}

.equal-text.different {
  color: #ED5565;
}

.orange {
  color: #f8ac59;
}

.form-control {
  width: 100%;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active,
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  color: inherit;
  border: 1px solid #d2d2d2;
  background-color: #ddd;
}

.option-icons {
  cursor: pointer;
}

.option-icons:hover {
  opacity: 0.5 !important;
}

.new-field {
  background-color: rgba(0, 0, 0, 0);
  border: 2px #2ab397 dashed;
  border-radius: 12px;
  color: #2ab397;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.new-field:hover:enabled {
  background-color: rgba(42, 179, 151, 0.13);
}

.new-field:focus {
  outline: 0;
}

.new-field:active {
  background-color: rgba(42, 179, 151, 0.4);
}

.new-field:disabled {
  color: #c6c6c6;
  border-color: #c6c6c6;
}

.wrong-email {
  border-color: #ED5565;
}
