:host /deep/ .popover {
  color: #000;
  background: white;
  max-width: 400px;
  width: 400px;
  z-index: 1700;

}

.overflowMail {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis
}

:host /deep/ .popover-content {
  color: #000;
  background: white;
  padding: 0;
}

:host /deep/ .popover.top>.arrow:after {
  border-top-color: white;
}

:host /deep/ .popover.bottom>.arrow:after {
  border-bottom-color: white;
}

.fa.fa-info-circle {
  cursor: auto !important;
}

.fa.fa-info-circle:hover {
  color: black;
}

.edit, .option-icons {
  float: right;
  cursor: pointer;
  padding-top: 1px;
  margin-right: 10px;
}

.edit:hover {
  color: orange;
}

.option-icons:hover {
  opacity: 0.5 !important;
}

.black {
  color: #676a6c;
}

.margin {
  margin-left: 5px;
}

.max-calls {
  text-decoration: line-through;
  color: #676a6c !important;
  font-weight: 400 !important;
  cursor: auto;
}

.no-decoration {
  color: #676a6c !important;
  font-weight: 400 !important;
  cursor: auto;
}

.no-strong {
  font-weight: 400 !important;
}

.green {
  color: green;
}

.orange {
  color: #f8ac59;
}

.red {
  color: #ED5565;
}

.check-icon {
  position: absolute;
  margin-left: 17px;
  margin-top: 2px;
}
