<div class="row">
  <div class="col-lg-6">
    <dl class="dl-horizontal">
      <dt>Borrower attorney info:</dt>
      <dd>{{accountFore?.borrowerAttorneyInfo}}</dd>
      <dt>Date filed:</dt>
      <dd>{{accountFore?.dateFiled | coinDateTransform: "STD_DATE":"MM/DD/YYYY hh:mm:ss A"}}</dd>
      <dt>Case number:</dt>
      <dd>{{accountFore?.caseNumber}}</dd>
      <dt>Ticklers:</dt>
      <dd>{{accountFore?.ticklers}}</dd>
      <dt>Action codes:</dt>
      <dd>{{accountFore?.actionCodes}}</dd>
    </dl>
  </div>
  <div class="col-lg-6">
    <dl class="dl-horizontal">
      <dt>Bank attorney info:</dt>
      <dd>{{accountFore?.bankAttorneyInfo}}</dd>
      <dt>Date notice received:</dt>
      <dd>{{accountFore?.dateNoticeReceived | coinDateTransform: "STD_DATE":"MM/DD/YYYY hh:mm:ss A"}}</dd>
      <dt>Litigation code:</dt>
      <dd>{{accountFore?.litigationCode}}</dd>
      <dt>Tickler dates:</dt>
      <dd>{{accountFore?.ticklerDates}}</dd>
      <dt>Action status:</dt>
      <dd>{{accountFore?.actionStatus}}</dd>
    </dl>
  </div>
</div>
