.notes{
  display: inline-block;
}


.col-padding{
  padding-top: 15px;
}

.title{
  margin-bottom: 30px;
}


.col-paddings{
  padding: 20px 15px;
}

/*.box{*/
/*box-shadow: 0 4px 26px -7px rgba(0,0,0,0.75);*/
/*-webkit-box-shadow: 0 4px 26px -7px rgba(0,0,0,0.75);*/
/*-moz-box-shadow: 0 4px 26px -7px rgba(0,0,0,0.75);*/
/*}*/

.container{
  width: 850px!important;
  padding-top: 15px;
  padding-bottom: 15px;
}


.help-block{
  color: #ED5565 !important;
}


.container-content{
  display: block;
  margin: 0 auto;
  width: 81%;
}
