<!--add tickler process-->
<div class="row">
  <div class="col-lg-6 col-xs-12 col">
    <h2 class="text-success">General</h2>
    <p></p>
    <div class="form-group" [class.has-error]="errorNotes">
      <div>
        <p class="notes"><label class="control-label">Tickler type</label></p>
      </div>
      <select class="form-control m-b" [disabled]="ticklerTypes?.length == 0 || waitingTicklerTypesToLoad"
              [(ngModel)]="selectedTicklerType" (change)="ticklerTypeSelected(selectedTicklerType)">
        <option *ngFor="let t of comboTicklerTypes" [ngValue]="t">{{t.ticklerName}} <span *ngIf="t.isCore">*</span>
        </option>
      </select>
    </div>
    <div class="form-group" [class.has-error]="errorNotes">
      <div>
        <p class="notes"><label class="control-label">Description</label></p>
      </div>
      <!--Notes-->
      <textarea
        [(ngModel)]="model.ticklerDescription"
        class="form-control notes-form no-resize"
        placeholder="Enter your tickler description"
        rows="3"
        maxlength="250">
      </textarea>
    </div>
    <!--button-->
    <div class="form-group">
      <button class="btn btn-sm btn-primary" (click)="add(model)"
              [disabled]="waitingResponse || !canAddValues()">Add
        <waiting-backend *ngIf="waitingResponse"></waiting-backend>
      </button>
      <button class="btn btn-sm" (click)="cancel()">Cancel
      </button>
    </div>
  </div>
  <!--tickler attributes-->
  <div class="col-lg-6 col-xs-12 col">
    <h2 class="text-success">Attributes</h2>
    <hr class="no-borders"/>
    <!--campaign attribute edition-->
    <ng-container *ngIf="attributesToLoad && !waitingAttributesToLoad">
      <campaign-attribute-edition
        *ngFor="let atm of attributesToLoad"
        [listOfValues]="lovValuesToCode[atm.lovCode]"
        [isInManageProcess]="true"
        [attribute]="atm"
        [isMandatory]="atm.mandatoryFlag"
        [values]="getAttributeValues(atm)"
        (onAddValue)="addAttribute(atm, $event)"
        (onRemoveValue)="removeAttribute(atm, $event)">
      </campaign-attribute-edition>
    </ng-container>

    <div *ngIf="waitingAttributesToLoad">
      <waiting-backend></waiting-backend>
      getting attributes...
    </div>
    <div *ngIf="attributesToLoad?.length == 0 && !waitingAttributesToLoad || ticklerTypes?.length == 0"> No data
      found.
    </div>
    <!--<div *ngIf="processCaseTicklers?.length == 0"> No data found.</div>-->
  </div>

</div>
