<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^finesse/(.*)" />
                    <action type="Rewrite" url="http://finesse.ibkc.int/finesse/{R:1}" logRewrittenUrl="true" />
                    <conditions trackAllCaptures="true">
                    </conditions>
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="^http-bind(/)?$" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="https://finesse.ibkc.int:7443/http-bind/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
