<!--<div >-->
  <div class="feed-activity-list">
    <div class="memo-notes-functions text-right" *ngIf="!isCreating">
      <button class="btn btn-xs btn-primary" (click)="showNewCallNotes(true)"><i class="fa fa-file-o"></i> New</button>
      <input (change)="refreshCallNotes()" class="by-account-checkbox"
        value=""
        type="checkbox"
        name="by account"
        title="by account"
        checked
      />
    </div>

    <ng-container *ngIf="isCreating">
    <new-call-notes
      [account]="account"
      (onAdd)="refreshCallNotes()"
      (onCancel)="showNewCallNotes($event)">
    </new-call-notes>
    </ng-container>

<ng-container *ngIf="memoNotes && memoNotes?.length > 0 && !searchingCallNotes && !isCreating">
    <div class="feed-element" *ngFor="let memoNote of memoNotes;">
      <div class="media-body">
        <div class="col-xs-8">
          <ul class="list-unstyled">
            <li>Customer <strong>{{memoNote.cifId}}</strong></li>
          </ul>
        </div>
        <div class="col-xs-4" style="padding-right: 0;">
          <ul class="list-unstyled">
            <li>date <strong>{{memoNote.createdDate | coinDateTransform: "STD_DATE"}}</strong></li>
            <li>account <strong>{{memoNote.accountId}} {{memoNote.accountType}}</strong></li>
            <li>by <strong>{{memoNote.createdBy}}</strong></li>
          </ul>
        </div>

        <div class="well" style="margin-top: 60px!important; padding: 10px 20px">
          {{memoNote.note}}
        </div>
        <p></p>
      </div>
    </div>
</ng-container>
  </div>
<!--</div>-->
<div *ngIf="searchingCallNotes"><waiting-backend></waiting-backend> Searching...</div>
<div *ngIf="!searchingCallNotes && memoNotes?.length == 0 && !isCreating">No previous call notes found.</div>
