<div class="container" *ngIf="!searchingProcessCase && currentProcessCase">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Name">Name <i class="fa fa-male"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold text-danger" *ngIf="!searchingCustomers">{{account?.customer?.mainContact?.completeName}}</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold text-danger" *ngIf="searchingCustomers"><waiting-backend></waiting-backend></span>

    </div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Account">Account <i class="fa fa-file-text-o"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold text-success">{{currentProcessCase?.accountId}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="CIFNO"><span class="label label-info">CIF No</span></span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{currentProcessCase?.cifId}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Process Code">Process:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold text" *ngIf="!searchingProcesses">{{process?.processName}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold" *ngIf="searchingProcesses"><waiting-backend></waiting-backend></span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Status">Status:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{currentProcessCase?.statusCode}}</span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Description">Description <i class="far fa-sticky-note"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{currentProcessCase?.caseDescription}}</span>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Assigned user">Assigned user <i class="fa fa-male"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold userText" *ngIf="!searchingUsers">{{currentAgent?.firstName}} {{currentAgent?.lastName}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold" *ngIf="searchingUsers"><waiting-backend></waiting-backend></span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Created date">Created date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{currentProcessCase?.createdDate | coinDateTransform: "STD_DATE"}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Created by">Created by <i class="fa fa-male"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingUsers">{{currentAgentCreatedBy?.firstName}} {{currentAgentCreatedBy?.lastName}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingUsers"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 over-flow align no-padding-left over-flow" title="Follow up due date">Follow up due <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-bold text-danger">{{currentProcessCase?.followUpDueDate | coinDateTransform: "STD_DATE" }}</span>
    </div>
  </div>

  <div class="clearfix padding-block"></div>

  <ng-container *ngIf="currentProcessCase?.accountType!=='D'">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Collateral information">Collateral information:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountLoanInfo">{{account?.loan?.collateralInformation}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountLoanInfo"><waiting-backend></waiting-backend></span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Due date">Due date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.dueDate | coinDateTransform: "STD_DATE"}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Fico Score">Fico score <i class="far fa-credit-card"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountAdditionalInfo">{{account?.additionalInfo?.ficoScore}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountAdditionalInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Last payment date">Last payment date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.paymentDate | coinDateTransform: "STD_DATE"}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Loan Type">Loan type:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountLoanInfo">{{account?.loan?.loanType}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountLoanInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Maturity date">Maturity date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.maturityDate | coinDateTransform: "STD_DATE"}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Number of extension">No. of extension:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.numberOfExtensionsLTD}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Open date">Open date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountLoanInfo">{{account?.loan?.loanDate | coinDateTransform: "STD_DATE"}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountLoanInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Original loan amount">Original loan amount:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.origLoanAmount}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Past due days"><span class="label label-danger">Past due days</span></span>
      <span class="col-lg-8 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.daysPastDue}}</span>
      <span class="col-lg-8 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>
    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Previous extension date">Previous extension date <i class="fas fa-calendar-alt"></i> :</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.dateOfLastExtension | coinDateTransform: "STD_DATE"}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Principal balance"><span class="label label-gold">Principal balance</span></span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountLoanInfo">{{account?.loan?.currentBalance | coinCurrency}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountLoanInfo"><waiting-backend></waiting-backend></span>
    </div>

    <div class="clearfix"></div>
    <div class="font-bold display-div font">
      <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="YTD DQ counter">YTD DQ counter:</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="!searchingAccountInfo">{{account?.collection?.pastDue30YTD}}</span>
      <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal" *ngIf="searchingAccountInfo"><waiting-backend></waiting-backend></span>
    </div>

  </div>
  </ng-container>


  <ng-container *ngIf="currentProcessCase?.accountType === 'D' && !searchingAccountDep">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Current balance">Current balance:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.curBal | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Available balance">Available balance:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.avlBal | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Collected balance:">Collected balance:</span>
        <span class="col-lg-8 font-normal">{{account?.accountDep?.colBal | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Date opened">Date opened <i class="fas fa-calendar-alt"></i> :</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.openDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Date closed">Date closed <i class="fas fa-calendar-alt"></i> :</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.closeDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Date last overdrawn:">Date last overdrawn:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.lastODDt | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

    </div>



    <!---->

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Hold amount">Hold amount:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.hldAmt | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Last deposit date">Last deposit date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.lastDepDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Last deposit amount">Last deposit amount:</span>
        <span class="col-lg-8 font-normal">{{account?.accountDep?.lastDepAmt | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title=">Days overdrawn">Days overdrawn:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.daysOverdrawn}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Charge off date">Charge off date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.chargeOffDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Amount charge off">Amount charge off:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.amountChargedOff | coinCurrency}}</span>
      </div>

    </div>


    <!---->


    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Items balance">Items balance:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.itemsBalance | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="NFS fees balance:">NFS fees balance:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.nfsFeesBalance | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Svc charge balance">Svc charge balance:</span>
        <span class="col-lg-8 font-normal">{{account?.accountDep?.svcChargeBalance | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="Fresh start ORIG BAL">Fresh start ORIG BAL:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsOrigBal | coinCurrency}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS items bal">FS items bal:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsItemsBal | coinCurrency}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS date">FS date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

    </div>

    <!---->

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS last pay amt">FS last pay amt:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsLastPayAmt | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS pay freq">FS pay freq:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsPayFreq}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS pay amt">FS pay amt:</span>
        <span class="col-lg-8 font-normal">{{account?.accountDep?.fsPayAmt | coinCurrency}}</span>
      </div>
      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS next pay date">FS next pay date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsNextPayDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS last pay date">FS last pay date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsLastPayDate | coinDateTransform: "STD_DATE":"MM/DD/YYYY"}}</span>
      </div>

      <div class="clearfix"></div>
      <div class="font-bold display-div font">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align no-padding-left over-flow" title="FS last pay date">FS last pay date:</span>
        <span class="col-lg-8 col-md-7 col-sm-7 col-xs-7 font-normal">{{account?.accountDep?.fsPartialPayAmt | coinCurrency}}</span>
      </div>

    </div>


  </ng-container>




  <div class="clearfix"></div>

</div>

<div *ngIf="searchingAccountDep || searchingProcessCase">
  <waiting-backend></waiting-backend>
  Searching...
</div>


<div *ngIf="!searchingProcessCase && !currentProcessCase">No data found.</div>
