<div class="" [ngClass]="{'col-xs-12':hasToAddLovType, 'col-lg-12': hasToAddLovType, 'col-paddings': hasToAddLovType, 'box-shadow': hasToAddLovType}">
  <!--code-->
  <div class="col-lg-12">
    <div class="form-group" [class.has-error]="lCode.invalid && lCode.touched">
      <label class="control-label">Code *</label>
      <input [(ngModel)]="model.lovCode" #lCode="ngModel" [disabled]="!hasToAddLovType" type="text" placeholder="Code"
             class="form-control" name="lovCode" required>
      <span class="help-block m-b-none" *ngIf="lCode.invalid && lCode.touched">Field is mandatory.</span>
    </div>

    <!--name-->
    <div class="form-group" [class.has-error]="lName.invalid && lName.touched">
      <label class="control-label">Name *</label>
      <input [(ngModel)]="model.lovName" #lName="ngModel" type="text" placeholder="Name" class="form-control" name="lovName" required>
      <span class="help-block m-b-none" *ngIf="lName.invalid && lName.touched">Field is mandatory.</span>
    </div>



    <!--type-->
    <div class="form-group">
      <label>Type</label>
      <div>
        <select [(ngModel)]="model.type" name="dataType" title="type" class="form-control m-b"
                [disabled]="!hasToAddLovType">
          <option *ngFor="let t of lovTypeCodes" [ngValue]="t.code">{{t.name}}</option>
        </select>
      </div>
    </div>


    <!--active-->
    <div class="col-lg-12 no-padding">
      <input
        [(ngModel)]="model.isActive"
        [value]="'Y'"
        type="checkbox"
        name="activeFlag"
        title="active"
        [checked]="model.isActive"
      />
      <p class="notes"><label class="font-normal"> Active</label></p>
    </div>

    <!--description-->
    <div class="form-group col-lg-12 no-padding">
      <div>
        <label class="control-label">Description</label>
      </div>
      <textarea
        [(ngModel)]="model.lovDescription"
        class="form-control notes-form no-resize"
        placeholder="Enter your LOV description"
        rows="3"
        maxlength="250">
      </textarea>
    </div>
  </div>

  <!--button-->
  <div class="col-lg-12">
    <div class="form-group">
      <button class="btn btn-sm btn-primary margin-right"
              [disabled]="isWaiting || hasFormErrors"
              (click)="manageLovTypes(model)">{{manageLovTypeText}}
        <waiting-backend *ngIf="isWaiting"></waiting-backend>
      </button>
      <button class="btn btn-sm" (click)="cancel()">Cancel
      </button>
    </div>
  </div>
</div>

