<!--Filter criteria-->
<div *ngIf="showCampaign">
  <p>
    <b>Campaign</b>
  </p>
  <!--Campaign combo-->
  <div>
    <select [(ngModel)]="campaignCode" class="form-control m-b" name="campaignName">
      <option [ngValue]="null">--All--</option>
      <!--<option *ngFor="let ac of callsPerHour" [ngValue]="ac.campaign.campaignCode">{{ac.name}}-->
      <option *ngFor="let ac of campaigns" [ngValue]="ac.code">{{ac.name}}
      </option>
    </select>
  </div>
</div>
<!--Input date-->
<div class="row">
  <div class="col-lg-12">
      <div class="form-group" [class.has-error]="startDate.hasErrors()">
        <label>
          Date
          <date-picker #startDate [mandatory]="true" [continuosEvaluation]="false" [showErrors]="true"></date-picker>
        </label>
      </div>
      <div class="form-group pull-right">
        <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"
                (click)="viewReport()" [disabled]="hasDateErrors() || searchingCallsPerHourData">
          View report <waiting-backend *ngIf="searchingCallsPerHourData"></waiting-backend>
        </button>
      </div>

    </div>
  </div>

